.view-container {
  text-align: center;
  font-size: 20px;
}

.row-elem {
  padding-bottom: 15px;
}

.marker-row {
  font-weight: bold;
  font-size: 36px;
}

.comic-row {
}

.the-comic {
  padding-top: 20px;
}

.home-form-outer {
  font-size: 20px;
  font-family: Verdana;
}

.home-form {
  margin: auto;
  text-align: center;
  width: 600px;
  background-color: #d0d0d0;
  border-radius: 10px;
}

.comic_url_input {
  font-size: 16px;
  width: 500px;
}

.submit_button {
  font-size: 16px;
  font-family: Verdana;
}

.home-form-1 {
  padding-top: 6px;
  padding-bottom: 12px;
}

.home-form-2 {
  padding-bottom: 12px;
}

.home-form-3 {
  padding-bottom: 6px;
}

.img-container-small-screen {
  width: 100%;
  display: block;
  position: relative;
}

.img-container-inner-small-screen {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.img-small-screen {
  width: 100%;
  height: 100%;
}
